{include file="public/header"}
    
    <body>
        <div class="x-body">
            <form class="layui-form" >
              <input type="hidden" name="id" value="{$links.id}">
             <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>链接标题
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" style="width:500px" value="{$links.title}">
                    </div>
                </div>
                
               
                

                 <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>链接地址
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="url" name="url" required="" lay-verify="required"
                        autocomplete="off" class="layui-input" style="width:500px" value="{$links.url}">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red"></span>描述
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="desc" name="desc"  lay-verify="" 
                        autocomplete="off" class="layui-input" style="width:500px" value="{$links.desc}">
                    </div>
                </div>

                
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="edit" lay-submit="" type="submit">
                        修改
                    </button>
                </div>
            </form>
        </div>
        <script src="__STATIC_A__/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="__STATIC_A__/js/x-layui.js" charset="utf-8">
        </script>
        <script src="__STATIC_A__/ueditor/ueditor.config.js" charset="utf-8"></script>
        <script src="__STATIC_A__/ueditor/lang/zh-cn/zh-cn.js" charset="utf-8"></script>
        <script src="__STATIC_A__/ueditor/ueditor.all.min.js" charset="utf-8"></script>
        <script>
            layui.use(['form','layer','upload'], function(){
              $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;


              // //图片上传接口
              // layui.upload({
              //   //url: '__STATIC_A__/upload.json' //上传接口
              //   url: "{:url('article/create')}" //上传接口
              //   ,success: function(res){ //上传成功后的回调
              //       console.log(res);
              //     $('#LAY_demo_upload').attr('src',res.url);
              //   }
              // });
            

              //监听提交
              form.on('submit(edit)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                $.post("{:url('update')}", data.field, function (res) {
                    if (res.status == 1) {
                        layer.alert(res.message, {icon: 6},function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                        //若未点击,自动消失  //还需要优化最后刷新整个页面
                              setTimeout(function () {
                                 var index = parent.layer.getFrameIndex(window.name);
                                 parent.layer.close(index);
                              },1000);
                    }else {

                        layer.alert(res.message, {icon: 5});

                                 

                    }
                      
                });
                return false;
              });
              
              
            });
        </script>

<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.getEditor('content',{initialFrameWidth:1000,initialFrameHeight:300,});
    


</script>
        
    </body>

</html>