{include file='public/header'}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>栏目管理</cite></a>
              <a><cite>栏目列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <form class="layui-form x-center" action="" style="width:50%"  name="form1" id="form1" >
                <div class="layui-form-pane" style="margin-top: 15px;">
                  <div class="layui-form-item">
                    <label class="layui-form-label" style="width:60px">所属栏目</label>
                    <div class="layui-input-inline" style="width:150px;text-align: left">
                        <select name="pid">
                            <option value="0" >顶级栏目</option>
                           
                            {volist name='cates' id='vo'}
                            <option value="{$vo.cate_id}">{$vo.cate_name}</option>
                            {/volist}
                            
                        </select>
                    </div>

                    <label class="layui-form-label" style="width:60px">栏目类型</label>
                    <div class="layui-input-inline" style="width:100px;text-align: left">
                        <select name="type">
                           
                            <option value="1">文章列表</option>
                            <option value="2">单页</option>
                            <option value="3">图片列表</option>
                           
                        </select>
                    </div>
    

                    <div class="layui-input-inline" style="width:120px">
                        <input type="text" name="cate_name" id="cate_name"  placeholder="栏目名称" autocomplete="off" required="" class="layui-input">
                    </div>
                     

                    <div class="layui-input-inline" style="width:80px">
                        <button class="layui-btn"  lay-submit="" lay-filter="add"><i class="layui-icon">&#xe608;</i>增加</button>
                    </div>
                  </div>
                </div> 
            </form>

            <form name="form2" id="form2" method="post" action="{:url('cate/index')}">
            
            <xblock><button class="layui-btn " lay-filter="save" lay-submit="save" ><i class="layui-icon" type="submit">&#xe640;</i>更新排序</button>
            <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button> -->
            <span class="x-right" style="line-height:40px">
            共有数据：{$count} 条</span></xblock>
        
            <table class="layui-table">
                <thead>
                    <tr>
                       
                        <th>
                            ID
                        </th>
                       
                        <th>
                            栏目名称
                        </th>
                        <th>
                            栏目类型
                        </th>
                         <th style="width:240px">
                            排序
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-link">
                 {volist name='cates' id='vo'   empty='暂时没有数据'}
                    <tr>
                        
                        <td >
                            {$vo.cate_id}
                        </td>
                       
                       
                       

                        <td>
                            {$vo.cate_name}
                        </td>
                        <td>
                        {eq name="$vo.type" value="1"}
                        文章列表
                        {/eq}
                        {eq name="$vo.type" value="2"}
                        单页
                        {/eq}
                        {eq name="$vo.type" value="3"}
                        图片列表 
                        {/eq}

                           
                        </td>
                         <td>
                            <input  type="" value="" name="{$vo.cate_id}"  placeholder="{$vo.cate_order}" style=" width:50px; text-align: center" >
                        </td>
                        <td class="td-manage">
                            <a title="编辑" href="javascript:;" onclick="cate_edit('编辑栏目','{:url('cate/edit',["id"=>$vo["cate_id"]])}','4','750','800')"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="cate_del(this,'{$vo.cate_id}')" 
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            </form>
          
         

        </div>
        <script src="__STATIC_A__/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__STATIC_A__/js/x-layui.js" charset="utf-8"></script>
      
        <script>
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
              form = layui.form();

              // //自定义验证规则
              // form.verify({
              //   cate_name: function(value){
              //     if(value.length < 5){
              //       return '昵称至少得5个字符啊';
              //     }
              //   }

              // ,cate_name: [/(.+){6,12}$/, '密码必须6到12位']
              //   ,repass: function(value){
              //       if($('#L_pass').val()!=$('#L_repass').val()){
              //           return '两次密码不一致';
              //       }
              //   }
              // });

              //监听提交
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                $.post("{:url('create')}",data.field,function (res) {
                    if (res.status == 1){
                        layer.alert(res.message, {icon: 6});
                        $('#x-link').prepend('<tr><td><input type="checkbox"value="res.cate_id"name=""></td><td>res.cate_id</td><td>1</td><td>res.cate_name</td><td class="td-manage"><a title="编辑"href="javascript:;"onclick="cate_edit(\'编辑\',\'cate-edit.html\',\'4\',\'\',\'510\')"class="ml-5"style="text-decoration:none"><i class="layui-icon">&#xe642;</i></a><a title="删除"href="javascript:;"onclick="cate_del(this,\'1\')"style="text-decoration:none"><i class="layui-icon">&#xe640;</i></a></td></tr>');
                         setTimeout(function () {
                                             window.location.replace(location.href);
                                         },1000);
                        }else {
                            layer.alert(res.message, {icon: 5});

                        }
                   });
                        return false;
                      });



              form2.on('submit(save)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                $.post("{:url('cate/index')}",data.field,function (res) {
                    if (res.status == 1){
                        layer.alert(res.message, {icon: 6});
                      
                         setTimeout(function () {
                         window.location.replace(location.href);
                         },1000);
                    }else {
                        layer.alert(res.message, {icon: 5});

                    }
                   });
                return false;
              });




            })



              
            //批量删除提交
             function delAll () {
                layer.confirm('确认要删除吗？',function(index){
                    //捉到所有被选中的，发异步进行删除
                    layer.msg('删除成功', {icon: 1});
                });
             }

             //-编辑
            function cate_edit (title,url,id,w,h) {
                x_admin_show(title,url,w,h); 
            }
           
            /*-删除*/
            function cate_del(obj,id){
                layer.confirm('其下属分类也会被删除，确认要删除吗？',function(index){
                    //发异步删除数据
                    $.get("{:url('delete')}",{cate_id:id});
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }

            /*排序*/
           
            </script>
           
    </body>
</html>